.mine {
  padding: 30px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: aquamarine;
  &-header {
    height: 200px;
    background-color: aqua;
    display: flex;
    &-left {
      width: 30vw;
      min-width: 200px;
    }
    &-right {
      flex: 1;
    }
  }
}